<div (mousewheel)="onActivity()">
<div class="grid ">
  <div class="col-4">
    <div class="shadow-6 p-5" [style]="{'width':'100%','height':'auto'}">
        <img src="../../assets/images/SEBI-logo.png" alt="" />
        <h3>Latitude:{{ latitude }}</h3>
        <h3>Longitude:{{ longitude }}</h3>
        <h5>System :{{ systemId }}</h5>     
      </div>   
  </div>
  <div class="col-8"><div class="map" id="map" class="match-parent"></div></div>
</div>

<div class="grid mt-5">
  <div class="col-fixed bg-primary" style="width: 100px">Fixed</div>
  <div class="col bg-yellow-500">
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
  </div>
</div>

<div class="grid p-3">
  <div class="col-8">
    <div class="grid">
      <div class="col-6 p-3 bg-primary">rrrrrrrrrrrrrrrrrrrrrrrr</div>
      <div class="col-6 p-3 bg-yellow-500">rrrrrrrrrrrrrrrrrrrrr</div>
      <div class="col-12 p-3 bg-red-100">rrrrrrrrrrrrrrrrrrrrrrrrr</div>
    </div>
  </div>
  <div class="col-4 p-3 bg-red-500"></div>
</div>
</div>