<div class="login-container">
<div class="flex justify-content-center align-items-center" style="height:'100vh'">
  <div  [style]="{'width':'400px',height:'auto'}">
    <ng-template pTemplate="header">  
    </ng-template>
    
      <div class="col-12">
        <div  class="spinner" *ngIf="spinner">   
            
<p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </div>
        <div class="text-center">
        <img src="../../assets/images/Letter-R-PNG-Pic.png" alt="sebi" width="100px" height="80px">
        </div>
        <div class="flex  justify-content-center ">
            <h3 class="text-white-alpha-80">LOGIN</h3>
        </div>
        
        <div class="card">
            <form [formGroup]="loginFormData" (ngSubmit)="onLoginFormData()">
            <div class="field">
                <label for="username" class="text-white-alpha-80">Username</label>
                <input id="username" formControlName="username" type="text" class="text-base text-color p-2 surface-overlay w-full border-round focus:border-primary  border-1 border-solid surface-border appearance-none outline-none">
                 <div *ngIf="username && username.invalid && (username.touched || username.dirty)">
                   <div *ngIf="username.errors?.['required']">
                      <div class="text-red-400">
                      Username is required
                      </div>
                   </div>
                   <div *ngIf="username.errors?.['minlength']">
                       <div class="text-red-400"> 
                          Username length should be 5
                       </div>
                   </div>
                   <div *ngIf="username.errors?.['pattern']">
                    <div class="text-red-400">
                     Username  should contain  a-z/A-Z format only.
                    </div>
                    </div>
                 </div>
            </div>
            <div class="field">
                <label for="password" class="text-white-alpha-80">Password</label>
                <input id="password"   formControlName="password" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    <div *ngIf="password && password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']">
                       <div class="text-red-400">
                          Password is required
                       </div>
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        <div class="text-red-400">
                         Password length should be 5
                        </div>
                    </div>
                    <div *ngIf="password.errors?.['pattern']">
                        <div class="text-red-400">
                         Password  should contain  a-z/A-Z/0-9 format only.
                        </div>
                    </div>
                    
                    </div>
                    <h5 class="text-white-alpha-80 text-lg  text-center">Forget Password? <a class="no-underline text-red-400" routerLink="/userregister/forgetpassword"  >Click here!</a> </h5>
            </div>
           
            <div class="field flex justify-content-center"> 
                <button type="submit"  [disabled]="loginFormData.invalid" pButton label="Submit" class="mr-3 p-button-primary p-button-rounded"></button>
                <button type="reset"  pButton label="Reset" class="p-button-danger p-button-rounded"></button>
            </div>
        </form>
        <div class="field">
          <h5 class="text-blue-500  text-lg text-center">Don't have an account? <a class="no-underline text-orange-500 " routerLink="/userregister"  >Create today!</a> </h5>
         </div>
        </div>
        
      </div>
    <ng-template p-template="footer">

    </ng-template>
  </div>
</div>
</div>






