<div class="main">
<div class=" p-4 shadow-2 border-round   lg:w-6  my-0 mx-auto" >
<div class="my-0 mx-auto lg:w-6 ">
     <div class=" mb-5">
      <h4 class="underline text-xl uppercase font-italic text-indigo-700">Reset Password</h4>
    </div>  
    <form [formGroup]="newPasswordForm" (ngSubmit)="onPasswordFormSubmit()">
    <div class="field grid">
        <label for="newpassword" class="col-fixed" style="width:100%">New password</label>
        <div class="col">
            <input id="newpassword" formControlName="newPassword" type="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
        <div *ngIf="newPassword && newPassword.invalid && (newPassword.touched|| newPassword.dirty)">
         <div *ngIf="newPassword.errors?.['required']">
           <div class="text-red-500">Password is required</div>
         </div>
        </div>
    </div>
    <div class="field grid">
        <label for="confirmnewpassword" class="col-fixed" style="width:100%">Confirm new password</label>
        <div class="col">
            <input id="confirmnewpassword" formControlName="confirmPassword" type="password" class="text-base text-color surface-overlay p-2  border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
        <div *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.touched|| confirmPassword.dirty)">
            <div *ngIf="confirmPassword.errors?.['required']">
              <div class="text-red-500">Confirm Password is required</div>
            </div> 
            <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                <div class="text-red-500">Passwords did not match</div>
              </div>
           </div>
    </div>
    <div>
        <button type="submit" class="p-button-rounded mr-2 p-button-primary" [disabled]="newPasswordForm.invalid" pButton>Save</button>
        <button type="reset" class="p-button-rounded p-button-danger" pButton>Reset</button>
    </div>
    <h4 >Go to login page? <a class="no-underline" routerLink="/login">Login</a></h4>
</form>
</div>         
</div>
</div> 